<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gabriele.hnews"
      android:versionCode="2"
      android:versionName="1.1"
      >
    
    <uses-sdk android:minSdkVersion="7"></uses-sdk> 
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    			 android:name=".HNApplication">
        <activity android:name=".HNews"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".HNPost"
				  android:configChanges="orientation"
				  >
		</activity>
		<activity android:name=".HNReply"
				  android:configChanges="orientation"
				  >
		</activity>
		<activity android:name=".HNPreferences"
				  android:configChanges="orientation"
				  >
		</activity>
    </application>


</manifest> 